<% extend('layout') %>

    <style>
        .ant-card {
            margin-bottom: 20px;
        }

        div[class*=ant-col] {
            margin-top: 10px;
        }
    </style>

    <a-layout id="app" v-cloak>
        <%- include('sidebar') -%>
        <a-layout id="content-layout">
            <a-layout-content class="ant-layout-content-pages">
                <a-spin :spinning="spinning" :delay="500" tip="loading">
                    <transition name="list" appear>
                        <a-tag v-if="JSON.parse('<%= isDefaultUser %>')" color="red" style="margin-bottom: 10px">
                            Please go to the panel settings as soon as possible to modify the username and password, otherwise there may be a risk of leaking account information
                        </a-tag>
                    </transition>
                    <transition name="list" appear>
                        <a-card hoverable style="margin-bottom: 20px;">
                            <div slot="title">
                                <a-button type="primary" icon="plus" @click="openAddInbound"></a-button>
                                <a-radio-group default-value="all" @change="filterUsers" :style="{ marginBottom: '8px' }">
                                    <a-radio-button value="all">all</a-radio-button>
                                    <a-radio-button value="online">online</a-radio-button>
                                    <a-radio-button value="expired">expired</a-radio-button>
                                    <a-radio-button value="barned">barned</a-radio-button>
                                </a-radio-group>
                            </div>
                            <a-row>
                                <a-input v-model="searchKey" placeholder="search" autofocus></a-input>
                            </a-row>
                            <a-row>
                                <a-col :xs="24" :sm="24" :lg="12">
                                    upload / download：
                                    <a-tag color="green">[[ sizeFormat(total.up) ]] / [[ sizeFormat(total.down) ]]</a-tag>
                                </a-col>
                                <a-col :xs="24" :sm="24" :lg="12">
                                    total traffic： <a-popconfirm title="Are you sure you want to reset all traffic to 0? It's unrecoverable"
                                        @confirm="resetAllTraffic()"
                                        ok-text="confirm" cancel-text="cancel">
                                        <a-tag color="green">[[ sizeFormat(total.up + total.down) ]]</a-tag>
                                    </a-popconfirm>
                                </a-col>
                                <a-col :xs="24" :sm="24" :lg="12">
                                    number of inbounds：
                                    <a-tag color="green">[[ inbounds.length ]]</a-tag>
                                </a-col>
                                <a-col :xs="24" :sm="24" :lg="12">
                                    number of users：
                                    <a-tag color="green">[[ users.length ]]</a-tag>
                                </a-col>
                            </a-row>
                            <a-row>
                                <a-col :xs="24" :sm="24" :lg="12">
                                    number of active users：
                                    <a-tag color="green">[[ connInfo.activeConnections ]]</a-tag>
                                </a-col>
                                <a-col :xs="24" :sm="24" :lg="12">
                                    number of active ips：
                                    <a-tag color="green">[[ connInfo.ips ]]</a-tag>
                                </a-col>
                            </a-row>
                            <a-row>
                                <a-col :xs="24" :sm="24" :lg="12">
                                    number of expired users：
                                    <a-tag color="green">[[ getTotal("expired") ]]</a-tag>
                                </a-col>
                                <a-col :xs="24" :sm="24" :lg="12">
                                    number of barned users：
                                    <a-tag color="green">[[ getTotal("barned") ]]</a-tag>
                                </a-col>
                            </a-row>
                        </a-card>
                    </transition>
                    <a-card v-if="searchedData.length === 0">
                        No account, please add an account first
                    </a-card>
                    <transition-group tag="div" name="list">
                        <a-card v-for="item in searchedData" :key="item.id" hoverable>
                            <div slot="title">
                                <a-tag class="hidden-sm-and-down" color="green">[[ item.isProxy ? "inbound": "user"]]@[[ item.protocol ]]</a-tag>
                                <a-button v-if="Protocols.SHADOWSOCKS === item.protocol || !item.isProxy && [Protocols.VMESS, Protocols.VLESS, Protocols.SHADOWSOCKS, Protocols.TROJAN].indexOf(item.protocol) >= 0"
                                          type="primary" icon="qrcode"
                                          @click="qrModal.show(
                                                    'qrcode',
                                                    item.genLink(item.listen === '0.0.0.0' ? ip : item.listen),
                                                    'copy link')"></a-button>
                                <a-button v-if="Protocols.SHADOWSOCKS !== item.protocol && item.isProxy" icon="user-add" @click="openAddUser(item)"></a-button>
                                <a-button icon="edit" @click="item.isProxy ? openEditInbound(item) : openAddUser(item, true)"></a-button>
                                <a-button style="float: right;" type="danger" icon="delete" @click="delInbound(item)"></a-button>
                            </div>
                            <div>
                                <a-row>
                                    <a-col v-if="item.isProxy" :xs="24" :sm="24" :lg="12">
                                        id：
                                        <a-tag color="green">[[ item.id ]]</a-tag>
                                    </a-col>
                                    <a-col class="hidden-md-and-up" :xs="24" :sm="24" :lg="12">
                                        protocol：
                                        <a-tag color="green">[[ item.protocol ]]</a-tag>
                                    </a-col>
                                    <a-col :xs="24" :sm="24" :lg="12">
                                        remark：
                                        <a-tag color="blue">[[ empDefault(item.remark, 'none') ]]</a-tag>
                                    </a-col>
                                    <a-col :xs="24" :sm="24" :lg="12">
                                        enable：
                                        <a-popconfirm :title="item.enable ? 'Whether to disable' : 'Whether to enable'"
                                                      @confirm="setEnable(item, !item.enable)"
                                                      ok-text="yes" cancel-text="no">
                                            <a-tag v-if="item.enable" color="green">yes</a-tag>
                                            <a-tag v-else color="red">no</a-tag>
                                        </a-popconfirm>
                                    </a-col>
                                    <a-col :xs="24" :sm="24" :lg="12">
                                        upload / download：
                                        <a-tag color="green">[[ sizeFormat(item.up) ]] / [[ sizeFormat(item.down) ]]</a-tag>
                                    </a-col>
                                    <a-col :xs="24" :sm="24" :lg="12">
                                        total traffic：
                                        <a-popconfirm title="Are you sure you want to reset all traffic to 0? It's unrecoverable"
                                                      @confirm="resetTraffic(item)"
                                                      ok-text="confirm" cancel-text="cancel">
                                            <a-tag color="green">[[ sizeFormat(item.up + item.down) ]]</a-tag>
                                        </a-popconfirm>
                                    </a-col>
                                    <template v-if="item.isProxy">
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            IP：
                                            <a-tag color="green">[[ item.listen === '0.0.0.0' ? ip : item.listen ]]</a-tag>
                                        </a-col>
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            port：
                                            <a-tag color="green">[[ item.port ]]</a-tag>
                                        </a-col>
                                    </template>
                                    <!-- vmess or vless -->
                                    <template v-if="item.protocol === Protocols.VMESS || item.protocol === Protocols.VLESS">
                                        <template v-if="!item.isProxy && item.protocol === Protocols.VMESS">
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                id：
                                                <a-tag color="green">[[ item.settings.vmesses[0].id ]]</a-tag>
                                            </a-col>
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                alter id：
                                                <a-tag color="green">[[ item.settings.vmesses[0].alterId ]]</a-tag>
                                            </a-col>
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                method：
                                                <a-tag v-if="item.settings.disableInsecure" color="green">
                                                    [[ VmessMethods.AES_128_GCM ]]、[[ VmessMethods.CHACHA20_POLY1305 ]]
                                                </a-tag>
                                                <a-tag v-else color="green">auto</a-tag>
                                            </a-col>
                                        </template>
                                        <a-col v-if="!item.isProxy" :xs="24" :sm="24" :lg="12">
                                            inbound id： <a-tag color="green">[[ item.inboundId ]]</a-tag>
                                        </a-col>
                                        <template v-if="!item.isProxy && item.protocol === Protocols.VLESS">
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                id：
                                                <a-tag color="green">[[ item.settings.vlesses[0].id ]]</a-tag>
                                            </a-col>
                                        </template>
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            transport：
                                            <a-tag color="green">[[ item.stream.network ]]</a-tag>
                                        </a-col>
                                        <!-- vmess tcp -->
                                        <template v-if="item.stream.network === 'tcp'">
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                camouflage：
                                                <a-tag color="green">[[ item.stream.tcp.type ]]</a-tag>
                                            </a-col>
                                            <template v-if="item.stream.tcp.type === 'http'">
                                                <a-col :xs="24" :sm="24" :lg="12">
                                                    path：
                                                    <a-tag color="green">[[ item.stream.tcp.request.path[0] ]]</a-tag>
                                                </a-col>
                                            </template>
                                        </template>
                                        <!-- vmess kcp -->
                                        <template v-if="item.stream.network === 'kcp'">
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                camouflage：
                                                <a-tag color="green">[[ item.stream.kcp.type ]]</a-tag>
                                            </a-col>
                                        </template>
                                        <!-- vmess ws -->
                                        <template v-if="item.stream.network === 'ws'">
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                path：
                                                <a-tag color="green">[[ item.stream.ws.path ]]</a-tag>
                                            </a-col>
                                        </template>
                                        <!-- vmess http -->
                                        <template v-if="item.stream.network === 'http'">
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                path：
                                                <a-tag color="green">[[ item.stream.http.path ]]</a-tag>
                                            </a-col>
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                host：
                                                <a-tag color="green">[[ empDefault(item.stream.http.host[0], 'none') ]]</a-tag>
                                            </a-col>
                                        </template>
                                        <!-- vmess quic -->
                                        <template v-if="item.stream.network === 'quic'">
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                QUIC method：
                                                <a-tag color="green">[[ item.stream.quic.security ]]</a-tag>
                                            </a-col>
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                password：
                                                <a-tag color="green">[[ empDefault(item.stream.quic.key, 'none') ]]</a-tag>
                                            </a-col>
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                camouflage：
                                                <a-tag color="green">[[ item.stream.quic.type ]]</a-tag>
                                            </a-col>
                                        </template>
                                        <!-- tls enable -->
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            tls：
                                            <a-tag v-if="item.stream.security == 'tls'" color="green">open</a-tag>
                                            <a-tag v-else color="orange">close</a-tag>
                                        </a-col>
                                        <!-- tls -->
                                        <template v-if="item.stream.security == 'tls'">
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                domain：
                                                <a-tag color="green">[[ empDefault(item.stream.tls.server, 'none') ]]</a-tag>
                                            </a-col>
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                allow insecure：
                                                <a-tag v-if="item.stream.tls.allowInsecure" color="green">yes</a-tag>
                                                <a-tag v-else color="green">no</a-tag>
                                            </a-col>
                                        </template>
                                    </template>
                                    <!-- trojan -->
                                    <template v-if="!item.isProxy && item.protocol === Protocols.TROJAN">
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            password：
                                            <a-tag color="green">[[ item.settings.clients[0].password ]]</a-tag>
                                        </a-col>
                                    </template>
                                    <!-- shadowsocks -->
                                    <template v-if="item.protocol === Protocols.SHADOWSOCKS">
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            method：
                                            <a-tag color="green">[[ item.settings.method ]]</a-tag>
                                        </a-col>
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            password：
                                            <a-tag color="green">[[ item.settings.password ]]</a-tag>
                                        </a-col>
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            network：
                                            <a-tag color="green">[[ item.settings.network ]]</a-tag>
                                        </a-col>
                                    </template>
                                    <!-- dokodemo-door -->
                                    <template v-if="item.protocol === Protocols.DOKODEMO">
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            forward address：
                                            <a-tag color="green">[[ item.settings.address ]]</a-tag>
                                        </a-col>
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            forward port：
                                            <a-tag color="green">[[ item.settings.port ]]</a-tag>
                                        </a-col>
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            network：
                                            <a-tag color="green">[[ item.settings.network ]]</a-tag>
                                        </a-col>
                                    </template>
                                    <!-- socks -->
                                    <template v-if="!item.isProxy && item.protocol === Protocols.SOCKS">
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            password auth：
                                            <a-tag v-if="item.settings.auth === 'password'" color="green">yes</a-tag>
                                            <a-tag v-else color="orange">no</a-tag>
                                        </a-col>
                                        <template v-if="item.settings.auth === 'password'">
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                username：
                                                <a-tag color="green">[[ item.settings.accounts[0].user ]]</a-tag>
                                            </a-col>
                                            <a-col :xs="24" :sm="24" :lg="12">
                                                password：
                                                <a-tag color="green">[[ item.settings.accounts[0].pass ]]</a-tag>
                                            </a-col>
                                        </template>
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            udp：
                                            <a-tag v-if="item.settings.udp" color="green">open</a-tag>
                                            <a-tag v-else color="orange">close</a-tag>
                                        </a-col>
                                    </template>
                                    <!-- http -->
                                    <template v-if="!item.isProxy && item.protocol === Protocols.HTTP">
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            username：
                                            <a-tag color="green">[[ item.settings.accounts[0].user ]]</a-tag>
                                        </a-col>
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            password：
                                            <a-tag color="green">[[ item.settings.accounts[0].pass ]]</a-tag>
                                        </a-col>
                                    </template>
                                    <template v-if="item.isProxy">
                                        <a-col :xs="24" :sm="24" :lg="12">
                                            users： 
                                        <a-tag color="green">
                                            <span>[[ countUsers(item.id) ]]/[[ item.maximum_users ]]</span>
                                        </a-tag>
                                        </a-col>
                                    </template>
                                    <a-col :xs="24" :sm="24" :lg="12" v-if="item.timestamp">
                                        expires：
                                        <a-tag color="green">[[ getTimestamp(item.timestamp) ]]</a-tag>
                                    </a-col>
                                    <a-col v-if="item.onDeleteTimestamp" :xs="24" :sm="24" :lg="12">
                                        deletes：
                                        <a-tag color="green">[[ getTimestamp(item.onDeleteTimestamp) ]]</a-tag>
                                    </a-col>
                                    <a-col v-if="item.maximum_daily_traffic" :xs="24" :sm="24" :lg="12">
                                        maximum daily traffic：<a-tag color="green">[[ item.maximum_daily_traffic ]]</a-tag>
                                    </a-col>
                                </a-row>
                                <a-row v-if="!item.isProxy">
                                    <a-col :xs="24" :sm="24" :lg="12">
                                        last accessed：
                                        <a-tag color="blue" v-if="item.lastAccessed || item.isOnline">
                                            <span v-if="item.lastAccessed && !item.isOnline">[[ getTimestamp(item.lastAccessed) ]]</span>
                                            <span v-if="item.isOnline">online</span>
                                        </a-tag>
                                        <a-tag v-else color="green">not yet</a-tag>
                                    </a-col>
                                    <a-col v-if="item.maximum_ips" :xs="24" :sm="24" :lg="12">
                                        maximum ips：<a-tag color="green">[[ item.maximum_ips ]]</a-tag>
                                    </a-col>
                                </a-row>
                                <a-row>
                                    <a-col v-if="item.status" :xs="24" :sm="24" :lg="12">
                                        status：
                                        <a-tag color="red" v-if="item.barned" @click="unBarnUser(item.id)">[[ item.status ]]</a-tag>
                                        <a-tag color="red" v-else>[[ item.status ]]</a-tag>
                                    </a-col>
                                    <a-col v-if="item.mult_conn_attempts" :xs="24" :sm="24" :lg="12" @click="unBarnUser(item.id)">
                                        multple connection attempts <a-tag color="green">([[ item.mult_conn_attempts ]])</a-tag>
                                    </a-col>
                                </a-row>
                            </div>
                        </a-card>
                    </transition-group>
                </a-spin>
            </a-layout-content>
        </a-layout>
    </a-layout>
    <script>
        let app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                ip: location.hostname,
                spinning: false,
                inbounds: [],
                users: [],
                connInfo: {"requestsCount":{"rejected":0,"blocked":0,"accepted":0,"total":0},"ips":0,"activeConnections":0},
                data: [],
                searchedData: [],
                searchKey: '',
                currentCategory: 'all' 
            },
            methods: {
                filterUsers(e) {
                    this.loadfiltered(e.target.value);
                },
                loadfiltered(category) {
                    this.searchedData.splice(0, this.searchedData.length);
                    this.currentCategory = category;
                    if(category == 'online') {
                        this.searchedData = this.data.filter((user) => user.isOnline);
                    } else if(category == 'barned') {
                        this.searchedData = this.data.filter((user) => user.status == 'barned');
                    } else if(category == 'expired') {
                        this.searchedData = this.data.filter((user) => user.status == 'timeout');
                    } else {
                        this.currentCategory = 'all';
                        this.searchedData = this.data.slice();
                    }
                },
                getTotal(category) {
                    if(category == 'online') {
                        return this.data.filter((user) => user.isOnline).length
                    } else if(category == 'barned') { 
                        return this.data.filter((user) => user.status == 'barned').length;
                    } else if(category == 'expired') {
                       return this.data.filter((user) => user.status == 'timeout').length;
                    } else {
                        return 0;
                    }
                },
                getLoadbalancerinfo() {
                    get({
                        url: '/v2ray/info',
                        success: body => {
                            this.connInfo = body;
                            this.data.forEach((user, index) => {
                                if(body.clients.indexOf(user.id) >=0 && !user.isProxy) {
                                    this.data[index].isOnline = true; 
                                } else {
                                    this.data[index].isOnline = false; 
                                }
                                if(this.currentCategory == 'online') 
                                    this.loadfiltered(this.currentCategory);
                            });
                        }
                    });
                },
                loading(spinning=true) {
                    this.spinning = spinning;
                },
                empDefault(o, defaultValue='') {return isEmpty(o) ? defaultValue : o},
                countUsers(inboundId){
                    let users = this.users.filter((user) => user.inboundId === inboundId);
                    return users.length;
                },
                getTimestamp(timestamp) {
                    return moment(timestamp).fromNow()
                },
                getInbounds() {
                    this.loading();
                    return new Promise((resolve) => {
                        get({
                            url: '/v2ray/inbounds',
                            success: data => {
                                resolve(data);
                                this.loading(false);
                            },
                            error: () => this.loading(false)
                        });
                    });
                },
                getUsers() {
                    this.loading();
                    return new Promise((resolve) => {
                        get({
                            url: '/v2ray/users',
                            success: data => {
                                resolve(data);
                                this.loading(false);
                            },
                            error: () => this.loading(false)
                        });
                    });
                },
                setData(inbounds, users) {
                    this.inbounds = this.setUpInbounds(inbounds);
                    this.users = this.setUpUsers(users);
                    this.data = this.inbounds.concat(this.users);
                    this.searchInbounds();
                },
                setUpUsers(users) {
                    return users.map((user) => {
                        user.settings = {
                            clients: [user],
                            accounts: [user]
                        };
                        user.isProxy = false;
                        let inb = Inbound.fromJson(user);
                        inb.id = user.id;
                        inb.up = user.up;
                        inb.down = user.down;
                        inb.inboundId = user.inboundId;
                        inb.timestamp = user.timestamp;
                        inb.onDeleteTimestamp = user.onDeleteTimestamp;
                        inb.expires = user.expires;
                        inb.enable = user.enable;
                        inb.status = user.status;
                        inb.mult_conn_attempts = user.mult_conn_attempts;
                        inb.maximum_ips = user.maximum_ips;
                        inb.maximum_daily_traffic = user.maximum_daily_traffic;
                        inb.lastAccessed = user.lastAccessed;
                        inb.isOnline = user.isOnline;
                        inb.barned = user.barned;
                        return inb;
                    }).reverse();
                },
                setUpInbounds(inbounds) {
                    return inbounds.map(inbound => {
                        inbound.streamSettings = inbound.streamSettings;
                        let inb = Inbound.fromJson(inbound);
                        inb.id = inbound.id;
                        inb.up = inbound.up;
                        inb.down = inbound.down;
                        inb.isProxy = true;
                        inb.maximum_users = inbound.maximum_users;
                        inb.maximum_daily_traffic = inbound.maximum_daily_traffic;
                        inb.dynamicPort = inbound.dynamicPort;
                        inb.status = inbound.status;
                        return inb;
                    }).reverse();
                },
                searchInbounds(key) {
                    if (isEmpty(key)) {
                        this.searchedData = this.data.slice();
                    } else {
                        this.searchedData.splice(0, this.searchedData.length);
                        this.data.forEach(item => {
                            let regex = new RegExp(`${key}`, "gi");
                            try {
                                const found = item.remark.match(regex)
                                || item.port.toString().match(regex)
                                || item.id.match(regex)
                                || item.inboundId.match(regex)
                                if (found) {
                                    this.searchedData.push(item);
                                }
                            } catch(e) {}
                        });
                    }
                },
                openAddInbound() {
                    inModal.show({
                        title: 'add account',
                        okText: 'add',
                        confirm: () => {
                            inModal.loading();
                            this.addInbound(inModal.inbound, () => inModal.closeLoading());
                        }
                    });
                },
                openEditInbound(inbound) {
                    inModal.show({
                        title: 'update account',
                        okText: 'update',
                        inbound: inbound,
                        confirm: () => {
                            inModal.loading();
                            inModal.inbound.id = inbound.id;
                            this.updateInbound(inModal.inbound, () => inModal.closeLoading());
                        }
                    });
                },
                openAddUser(inbound, update) {
                    adduserModal.show({
                        title: update ? 'update user' : 'add user',
                        okText: update ? 'save' : 'add',
                        inbound: update ? inbound : null,
                        protocol: inbound.protocol,
                        confirm: () => {
                            adduserModal.loading();
                            let { remark, expires, maximum_ips, enable, inboundId, maximum_daily_traffic } = adduserModal.inbound;
                            let data = { remark, expires, maximum_ips, enable, inboundId, maximum_daily_traffic };
                            if(Protocols.VMESS === inbound.protocol) {
                                data.id = adduserModal.inbound.settings.vmesses[0].id;
                                data.alterId = adduserModal.inbound.settings.vmesses[0].alterId;
                            } if(Protocols.VLESS === inbound.protocol) {
                                data.id = adduserModal.inbound.settings.vlesses[0].id;
                            }  else if(Protocols.HTTP === inbound.protocol || Protocols.SOCKS === inbound.protocol) {
                                data.user = adduserModal.inbound.settings.accounts[0].user;
                                data.pass = adduserModal.inbound.settings.accounts[0].pass;
                            } else if(Protocols.TROJAN === inbound.protocol) {
                                data.password = adduserModal.inbound.settings.clients[0].password;
                            }
                            this.submit('/v2ray/inbound/' + (update ? 'update': 'add') + ('/user/') + inbound.id, data, adduserModal, () => adduserModal.closeLoading(), () => adduserModal.closeLoading());
                        },
                    });
                },
                addInbound(inbound, callback) {
                    let data = {
                        port: inbound.port,
                        listen: inbound.listen,
                        maximum_users: inbound.maximum_users,
                        maximum_daily_traffic: inbound.maximum_daily_traffic,
                        dynamicPort: inbound.dynamicPort,
                        protocol: inbound.protocol,
                        settings: inbound.settings.toString(false),
                        streamSettings: inbound.stream.toString(false),
                        sniffing: [Protocols.VMESS, Protocols.SHADOWSOCKS].indexOf(inbound.protocol) >= 0 ?
                            inbound.sniffing.toString(false) : '{}',
                        remark: inbound.remark,
                    };
                    this.submit('/v2ray/inbound/add', data, inModal, callback, callback);
                },
                updateInbound(inbound, callback) {
                    let data = {
                        port: inbound.port,
                        listen: inbound.listen,
                        protocol: inbound.protocol,
                        maximum_users: inbound.maximum_users,
                        maximum_daily_traffic: inbound.maximum_daily_traffic,
                        dynamicPort: inbound.dynamicPort,
                        settings: inbound.settings.toString(false),
                        streamSettings: inbound.stream.toString(false),
                        sniffing: [Protocols.VMESS, Protocols.SHADOWSOCKS].indexOf(inbound.protocol) >= 0 ?
                            inbound.sniffing.toString(false) : '{}',
                        remark: inbound.remark,
                        enable: inbound.enable,
                    };
                    this.submit('/v2ray/inbound/update/' + inbound.id, data, inModal, callback, callback);
                },
                delInbound(inbound) {
                    this.$confirm({
                        title: 'delete account',
                        content: 'Cannot be restored after deletion, confirm deletion?',
                        okText: 'delete',
                        cancelText: 'cancel',
                        onOk: () => this.submit('/v2ray/inbound' + (inbound.isProxy ? '/del': '/del/user') +'/' + inbound.id)
                    });
                },
                unBarnUser(userId) {
                    this.$confirm({
                        title: 'Attention',
                        content: 'User exceeded maximum ips per connection and was barned. confirm unblock?',
                        okText: 'ok',
                        cancelText: 'cancel',
                        onOk: () => this.submit('/v2ray/inbound/unbarn/user/' + userId)
                    });
                },
                resetTraffic(inbound) {
                    this.submit((inbound.isProxy ? '/v2ray/reset_traffic/': '/api/traffic/reset/')  + inbound.id);
                },
                resetAllTraffic() {
                    this.submit('/v2ray/reset_all_traffic');
                },
                setEnable(inbound, enable) {
                    let data = { enable: enable };
                    this.submit('/v2ray/inbound/update/'+ (!inbound.isProxy ? 'user/': '') + inbound.id, data);
                },
                submit(url, data, modal, success, error) {
                    post({
                        url: url,
                        data: data,
                        success: data => {
                            if (data.success) {
                                Promise.all([this.getInbounds(), this.getUsers()])
                                .then(([inbounds, users]) => {
                                    this.setData(inbounds, users);
                                    if (modal) {
                                        modal.close();
                                    }
                                });
                            }
                            execute(success, data);
                        },
                        error: error,
                    });
                },
            },
            watch: {
                searchKey(value) {
                    this.searchInbounds(value);
                }
            },
            mounted() {
                this.setData(JSON.parse('<%- inbounds %>'), JSON.parse('<%- users %>'));
                setInterval(this.getLoadbalancerinfo, 2000);
            },
            computed: {
                total() {
                    let down = 0, up = 0;
                    for (let i = 0; i < this.users.length; ++i) {
                        down += this.users[i].down;
                        up += this.users[i].up;
                    }
                    return {
                        down: down,
                        up: up,
                    };
                }
            },
        });

    </script>
    <%- include('inbound_modal') -%>
    <%- include('text_modal') -%>
    <%- include('qrcode_modal') -%>
    <%- include('prompt_modal') -%>
    <%- include('adduser_model') -%>