<% extend('layout') %>

<a-layout id="app" v-cloak>
    <% if (admin) { %>
        <%- include('sidebar') -%>
    <% } %> 
  <a-layout id="components-layout" class="layout">
    <%- include('header') -%>
    <a-layout-content>
      <div :style="{ minHeight: '280px' }">
        <a-layout id="content-layout" style="width: 100%; margin-top: 50px;">
            <a-layout-content class="ant-layout-content-pages">
                <a-spin :spinning="spinning" :delay="500" tip="loading">
                <transition name="list" appear>
                    <a-card hoverable style="margin-bottom: 20px;">
                        <div slot="title">
                            <a-button type="primary" icon="plus" @click="openUser()"></a-button>
                            <a-radio-group default-value="all" @change="filterUsers" :style="{ marginBottom: '8px', float: 'right' }">
                                <a-radio-button value="all">all</a-radio-button>
                                <a-radio-button value="expired">expired</a-radio-button>
                                <a-radio-button value="barned">barned</a-radio-button>
                            </a-radio-group>
                        </div>
                        <a-row>
                            <a-input v-model="searchKey" placeholder="search" autofocus></a-input>
                        </a-row>
                        <br />
                        <a-row>
                            <% if (admin) { %>
                                number of agents：
                                <a-tag color="green">[[ users.length ]]</a-tag>
                            <% } else { %> 
                                <a-col :xs="24" :sm="24" :lg="12">
                                    upload / download：
                                    <a-tag color="green">[[ sizeFormat(total.up) ]] / [[ sizeFormat(total.down) ]]</a-tag>
                                </a-col>
                                <a-col :xs="24" :sm="24" :lg="12">
                                    total traffic： <a-tag color="green">[[ sizeFormat(total.up + total.down) ]]</a-tag>
                                </a-col>
                                <a-col :xs="24" :sm="24" :lg="12">
                                    users： <a-tag color="blue">[[ users.length ]]/[[ me.inbound.maximum_users ]]</a-tag>
                                </a-col>
                                <a-col :xs="24" :sm="24" :lg="12">
                                    active users：
                                    <a-tag color="green">[[ connInfo.activeConnections ]]</a-tag>
                                </a-col>
                                <a-col :xs="24" :sm="24" :lg="12" v-if="!me.onDeleteTimestamp">
                                    subscription expires：
                                    <a-tag color="green">[[ getTimestamp(me.timestamp) ]]</a-tag>
                                </a-col>
                            <% } %>
                            </a-col>
                        </a-row>
                    </a-card>
                </transition>

                <a-card v-if="me.onDeleteTimestamp" style="margin-bottom: 20px;">
                    your subscription has expired, users will be deleted 
                    <a-tag color="blue">[[ getTimestamp(me.onDeleteTimestamp) ]]</a-tag>if you delay to renew.
                    please contact <a href="https://t.me/paulgrammer" target="blank">admin</a> for more information.
                </a-card>

                <a-card v-if="searchedData.length === 0 && !me.onDeleteTimestamp">
                    No users
                </a-card>

                <transition-group tag="div" name="list">
                    <a-card v-for="user in searchedData" :key="user.id" hoverable style="margin-bottom: 20px;">
                        <div slot="title">
                            <a-tag class="hidden-sm-and-down" color="green">vmess</a-tag>
                            <a-button type="primary" icon="qrcode" v-if="!user.agent" @click="qrModal.show(
                                'qrcode',
                                genLink(user),
                                'copy link')"></a-button>
                            <a-button icon="edit" @click="openUser(user)"></a-button>
                            <a-popconfirm title="Are you sure you want?"
                            @confirm="deleteUser(user.id)"
                            ok-text="yes" cancel-text="no">
                                <a-button type="danger" icon="delete"></a-button>
                            </a-popconfirm>
                        </div>
                        <div>
                            <a-row>
                                <a-col :xs="24" :sm="24" :lg="12">
                                    id： <a-tag color="green">[[ user.id ]]</a-tag>
                                </a-col>
                                <a-col :xs="24" :sm="24" :lg="12" v-if="user.remark">
                                    remark： [[ user.remark ]]
                                </a-col>
                                <% if (admin) { %>
                                    <a-col :xs="24" :sm="24" :lg="12" v-if="user.inboundId">
                                        inbound id： <a-tag color="green">[[ user.inboundId ]]</a-tag>
                                    </a-col>
                                <% } %> 
                            </a-row>
                            <a-row>
                                <a-col :xs="24" :sm="24" :lg="12" v-if="user.username">
                                    username： [[ user.username ]]
                                </a-col>
                                <% if (admin) { %>
                                    <a-col v-if="user.email" :xs="24" :sm="24" :lg="12">
                                        email： [[ user.email ]]
                                    </a-col>
                                <% } %> 
                                <a-col :xs="24" :sm="24" :lg="12">
                                    upload / download：
                                    <a-tag color="green">[[ sizeFormat(user.up) ]] / [[ sizeFormat(user.down) ]]</a-tag>
                                </a-col>
                                <a-col :xs="24" :sm="24" :lg="12">
                                    total traffic：
                                    <a-popconfirm title="Are you sure you want to reset all traffic to 0? It's unrecoverable"
                                                  @confirm="resetTraffic(user.id)"
                                                  ok-text="confirm" cancel-text="cancel">
                                        <a-tag color="green">[[ sizeFormat(user.up + user.down) ]]</a-tag>
                                    </a-popconfirm>
                                </a-col>
                                <% if (admin) { %>
                                    <a-col :xs="24" :sm="24" :lg="12">
                                        accounts： <a-tag color="green">[[ user.total_users_added ]]/[[ user.maximum_users ]]</a-tag>
                                    </a-col>
                                <% } %> 
                                <a-col :xs="24" :sm="24" :lg="12" v-if="user.timestamp">
                                    expires： <a-tag color="green">[[ getTimestamp(user.timestamp) ]]</a-tag>
                                </a-col>
                                <a-col v-if="user.onDeleteTimestamp" :xs="24" :sm="24" :lg="12">
                                    deletes：
                                    <a-tag color="green">[[ getTimestamp(user.onDeleteTimestamp) ]]</a-tag>
                                </a-col>
                                <a-col :xs="24" :sm="24" :lg="12">
                                    enable：
                                    <a-popconfirm :title="user.enable ? 'Whether to disable' : 'Whether to enable'"
                                                  @confirm="setEnable(user.id, !user.enable)"
                                                  ok-text="yes" cancel-text="no">
                                        <a-tag v-if="user.enable" color="green">yes</a-tag>
                                        <a-tag v-else color="red">no</a-tag>
                                    </a-popconfirm>
                                </a-col>
                            </a-row>
                            <a-row>
                                <a-col v-if="user.maximum_ips && !user.agent" :xs="24" :sm="24" :lg="12">
                                    maximum ips：<a-tag color="green">[[ user.maximum_ips ]]</a-tag>
                                </a-col>
                                <a-col :xs="24" :sm="24" :lg="12" v-if="user.lastAccessed || user.isOnline">
                                    last accessed：
                                    <a-tag color="blue">
                                        <span v-if="user.lastAccessed && !user.isOnline">[[ getTimestamp(user.lastAccessed) ]]</span>
                                        <span v-if="user.isOnline">online</span>
                                    </a-tag>
                                </a-col>
                            </a-row>
                            <a-row>
                                <a-col v-if="user.status" :xs="24" :sm="24" :lg="12">
                                    status：<a-tag color="red">[[ user.status ]]</a-tag>
                                    <% if (admin) { %>
                                        <a-popconfirm title="Are you sure you want to renew subscription ?"
                                                        @confirm="renewSub(user)"
                                                        ok-text="confirm" cancel-text="cancel">
                                            <a-tag color="green">renew</a-tag>
                                        </a-popconfirm>
                                    <% } %> 
                                </a-col>
                                <a-col v-if="user.mult_conn_attempts" :xs="24" :sm="24" :lg="12">
                                    multple connection attempts <a-tag color="green">([[ user.mult_conn_attempts ]])</a-tag>
                                </a-col>
                            </a-row>
                        </div>
                    </a-card>
                </transition-group>
                </a-spin>
            </a-layout-content>
        </a-layout>
      </div>
    </a-layout-content>
    <a-layout-footer style="text-align: center">
      &copy; 2021
    </a-layout-footer>
  </a-layout>
</a-layout>
<style>
    #components-layout .logo {
      width: 120px;
      height: 31px;
      color: aliceblue;
      font-size: 20px;
      float: left;
    }
</style>
<script>

    let app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            spinning: false,
            users: [],
            searchedData: [],
            me: {
                inbound: { maximum_users: 0 }
            },
            connInfo: { activeConnections: 0 },
            searchKey: '',
            size: 'small',
            currentCategory: 'all' 
        },
        methods: {
            genLink(user){
                if(this.me.inbound) {
                    let copy = { ...this.me.inbound };
                    copy.settings.clients.push(user);
                    let inbound = Inbound.fromJson(copy);
                    copy.settings.clients = [];
                    return inbound.genLink(location.hostname);
                }
                return "no data"
            },
            getTimestamp(timestamp) {
                return moment(timestamp).fromNow()
            },
            loading(spinning=true) {
                this.spinning = spinning;
            },
            renewSub(data){
                this.submit('/api/user/subscription/renew/'+ data.id, data);
            },
            setEnable(userId, enable) {
                let data = { enable: enable };
                this.submit('/v2ray/inbound/update/user/'+ userId, data);
            },
            filterUsers(e) {
                this.loadfiltered(e.target.value);
            },
            loadfiltered(category) {
                this.searchedData.splice(0, this.searchedData.length);
                this.currentCategory = category;
                if(category == 'online') {
                    this.searchedData = this.users.filter((user) => user.isOnline);
                } else if(category == 'barned') {
                     this.searchedData = this.users.filter((user) => user.status == 'barned');
                } else if(category == 'expired') {
                    this.searchedData = this.users.filter((user) => user.status == 'timeout');
                } else {
                    this.currentCategory = 'all';
                    this.searchedData = this.users.slice();
                }
            },
            getStats() {
                get({
                    url: '/api/me/users/active',
                    success: body => {
                        this.connInfo.activeConnections = body.activeUsers.length;
                        this.users.forEach((user, index) => {
                            if(body.activeUsers.indexOf(user.id) >=0) {
                                this.users[index].isOnline = true; 
                            } else {
                                this.users[index].isOnline = false; 
                            }
                        });
                    }
                });
            },
            getMe() {
                get({
                    url: '/api/me',
                    success: data => {
                        this.me = data;
                    }
                });
            },
            getUsers() {
                this.loading();
                get({
                    url: '/api/me/users',
                    success: data => {
                        this.users = data;
                        this.connInfo.activeConnections = data.filter((user) => user.isOnline).length;
                        this.searchUsers();
                        this.loading(false);
                    },
                    error: () => this.loading(false)
                });
            },
            resetTraffic(userId) {
               this.submit('/api/traffic/reset/' + userId);
            },
            deleteUser(userId) {
                this.submit('/v2ray/inbound' + '/del/user/' + userId)
            },
            openUser(user = {}) {
                userModal.show({
                    title: user.id ? 'update user' : 'add user',
                    okText: user.id ? 'save' : 'add',
                    user,
                    confirm: () => {
                        userModal.loading();
                        this.submit('/v2ray/inbound/' + (user.id ? 'update': 'add') + '/user/' + user.id, userModal.user, userModal, () => userModal.closeLoading(), () => userModal.closeLoading());
                    }
                });
            },
            submit(url, data, modal, success, error) {
                post({
                    url: url,
                    data: data,
                    success: data => {
                        if (data.success) {
                            if (modal) {
                                modal.close();
                            }
                            this.getUsers();
                        }
                        execute(success, data);
                    },
                    error: error,
                });
            },
            searchUsers(key) {
                if (isEmpty(key)) {
                    this.searchedData = this.users.slice();
                } else {
                    this.searchedData.splice(0, this.searchedData.length);
                    this.users.forEach(item => {
                        let regex = new RegExp(`${key}`, "gi");
                        try { 
                            const found = item.remark.match(regex) 
                            || item.id.match(regex) 
                            || item.username.match(regex)
                            || item.user.inboundId.match(regex)
                            if (found) {
                                this.searchedData.push(item);
                            }
                        } catch (e) {}
                    });
                }
            },
        },
        watch: {
            searchKey(value) {
                this.searchUsers(value);
            }
        },
        mounted() {
            if(!JSON.parse('<%- admin %>')) {
                this.getMe();
                setInterval(this.getStats, 2000);
            } 
            this.getUsers();
        },
        computed: {
            total() {
                let down = 0, up = 0;
                for (let i = 0; i < this.users.length; ++i) {
                    down += this.users[i].down;
                    up += this.users[i].up;
                }
                return {
                    down: down,
                    up: up,
                };
            }
        }
    });

</script>
<%- include('qrcode_modal') -%>
<%- include('user_model') -%>